<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">

    {{#description}}
        <meta name="description" content="{{description}}">
    {{/description}}

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel = "stylesheet" href="/source/public/stylesheets/bootstrap-cerulean.css">
    <link rel="stylesheet" href="/source/public/stylesheets/style.css">

    <div>
        <link rel="apple-touch-icon" sizes="57x57" href="/source/public/images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/source/public/images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/source/public/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/source/public/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/source/public/images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/source/public/images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/source/public/images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/source/public/images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/source/public/images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/source/public/images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/source/public/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/source/public/images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/source/public/images/favicon-16x16.png">
        <link rel="manifest" href="/source/public/images/manifest.json">
    </div>
    <script type="text/javascript" src='/source/public/javascripts/jquery.js'></script>
    <script type="text/javascript" src='/source/public/javascripts/bootstrap.min.js'></script>
</head>
