<html>
{{>head}}
<body>
    {{>includes/header}}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{>includes/left}}
            </div>
            <div class="col-md-9">
                {{{body}}}
            </div>
        </div>
    </div>
    </body>
</html>