
<h3>{{{title}}} Team Members</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Consultant Code</th>
        <th>Name</th>
        <th>AFI - MTD</th>
        <th>AFI - YTD</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
    <tr>

        <th scope="row">{{{consultantCode}}}</th>
        <td>{{{name}}}</td>
        <td>{{{afiMTD}}}</td>
        <td>{{{afiYTD}}}</td>
    </tr>
    {{/each}}

    </tbody>
</table>