<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

                    <a class="navbar-brand">
                        <img alt="POL" src="./images/pol-logo.png" class="nav-logo">

                    </a>

        </div>
        <div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li></li>


            </ul>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/myGroup">Team Alpine</a></li>
                <li><a href="/mySelf">My Sales</a></li>
                <li><a href="/mySelf">Investors</a></li>
                <li><a href="/mySelf">Products</a></li>


            </ul>
        </div>
    </div>
</nav>